.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;
}

.main__hidden {
  display: none;

  width: 0;
  height: 0;
}

.main__sticky-menu {
  position: fixed;
  top: 0;

  z-index: 10;
}

.main__visible {
  display: block;

  height: 82px;

  margin: 0;
  padding: 0;
}